.personel{
    border: 0;
    height: auto;
    max-width: 100%;
    display: block;
}


hgroup{
    border-style: solid;
    border-width: 1px;
    margin-top: 11px;
    border-color: #ABB6BD;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 111px;
    padding-left: 20px;
    padding-right: 20px;
    color: #5b5e60;
    cursor: hand;
    max-width: 252px;
    margin-bottom: 10px;
}


.personel-heading{
    font-size: 24px;
    margin-top: 4px;
    margin-bottom: 7px;
}


.personel-heading2{
    margin-top: 7px;
}



.overlay{
    width: 252px;
    height: 270px;
    position: absolute;
    left: 15px;
    top:0px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 16px;
}



@media (min-width: 992px) and (max-width: 1199px) {
    .overlay{
        width : 213px;
        height: 228px;
    }

}

.description{
    display: none;
    align-self: center;
    text-align: center;
}

