.cycle {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/52/Mount_Ellinor,_Mount_Washington_Panorama.jpg);
    height: 415px;
    cursor: move;
}
.box {
    width: 512px;
    margin: 0 auto;
    font-family: arial, sans-serif;
}
