/*
Credits:
https://github.com/marcaube/bootstrap-magnify
*/

/* for validator */
a:link {
    text-decoration:none;
}

.green, .green a {
    color: #339900;
}


body{
    background-color:#111;
    color:white;
}


.col-md-12{
    padding: 120px;
}

.mag {
    width:450px;
    margin: 0 auto;
    float: none;
}

.mag img {
    max-width: 100%;
}


.mag1 {
    width:120px;
    margin: 0 auto;
    float: none;
}

.mag1 img {
    max-width: 100%;
}

.mag2 {
    width:900px;
    margin: 0 auto;
    float: none;
}

.mag2 img {
    max-width: 100%;
}

.magnify {
    position: relative;
    cursor: none
}

.magnify-large {
    position: absolute;
    display: none;
    width: 500px;
    height: 500px;

    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%
}